@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    
}

.link-wpp{
    position: fixed;
    bottom: 525px;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;   
}

.btn-wpp{
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;    
       
}

.btn-wpp:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

body{
    margin: auto;
    min-width: 100vw;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*-----------------HEADER------------------*/

header{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 2rem 0;
}

header nav{
    display: flex;
    gap: 20px;
}

header nav a{
    color: #0A3A3C;
    font-size: 14pt;
    transition: all 0.5s;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

header nav a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:white;
    background-color: #C9892F;
    border-radius: 5px;
}

.btn-header{
    width: 20   vw;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: #C9892F;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-header:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-----------------EXPERIÊNCIA------------------*/

.experiencia{
    width: 100%;
    margin: auto;
    background-color: rgb(216, 216, 216);
    color: rgba(10, 58, 60, 1);
    display: flex;   
    justify-content: center; 
    padding: 20px;
    margin: 30px 0 30px 0;
    font-size: 25pt;
    font-style: italic;
    font-weight: 500;
}

.experiencia img{
    
    width: 50px;
}

/*-----------------BANNER------------------*/

.banner{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-image: url("../img/fundo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.banner h1{
    padding-top: 30px;
    font-size: 45pt;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(201, 137, 47, 1);

}

.banner .subh1{
    margin-top: -10px;
    font-size: 25pt;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(201, 137, 47, 1);
}

.banner h2{
    color: white;
    font-size: 40pt;
    font-weight: 400;
}

.banner .subh2{
    margin-top: -20px;
    color: white;
    font-size: 50pt;
    font-weight: 400;
}

h2 span{
    text-decoration: underline orange;
}

.subh2 span{
    width: 650px;
    text-align: left;
    background-image: url("../img/rolo.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .video{
    
    margin: 20px 0 80px 0;
    box-shadow: 0px 0px 35px rgba(201, 137, 47, 1);
    
}


/*-----------------TEMOS------------------*/

.temos{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 170px;
}

.img-temos{
    width: 90px;
}

.temos h3{
    margin-top: 20px;
    font-size: 28pt;

    color: #0A3A3C;
    border-radius: 8px;
    padding: 2px 10px 2px 10px;
}

.temos p{
    margin-top: 10px;
    font-size: 17pt;
    font-weight: 400;
    width: 60vw;
    text-align: center;
    
    color: #0A3A3C;
    border-radius: 8px;
    padding: 2px 10px 2px 10px;
}

.porcas{
    padding-top: 50px;
    display: flex;
    gap: 150px;

}

.porcas img{
    width: 200px;
    
}

/*-----------------QUE TAL------------------*/

.que-tal{
    width: 100vw;
    
    background-color: #C9892F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

}

.que-tal .text{
    width: 720px;
    display: flex;
    flex-direction: column;
}

.que-tal .text .p1{
    color: #ffffff;
    font-size: 35pt;
    font-weight: 500;
}

.que-tal .text .p2{
    margin-top: -30px;
    color: #ffffff;
    font-size: 45pt;
    font-weight: 500;
}

.que-tal .text .p3{
    margin-top: -10px;
    color: #ffffff;
    font-size: 15pt;
    font-weight: 200;
}

.que-tal .text .p4{
    margin-top: 25px;
    color: #ffffff;
    font-size: 18pt;
    font-weight: 200;
}


.que-tal img{
    width: 800px;
    margin-top: -80px;
    
}

.que-tal .text button{
    width: 25vw;
    margin: 30px 0 0 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 15pt;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: #0A3A3C;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.que-tal .text button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-----------------SOMOS------------------*/

.somos{
    padding: 50px 0 50px 0;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    background-image: url("/img/expansao.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.somos h3{
    margin-left: 20px;
    font-size: 35pt;
    color:#0A3A3C;

}

.somos p{
    text-align: center;
    font-weight: 400;
    width: 800px;
    font-size: 20pt;
    color: #C9892F;
    padding-top: -20px;
}

.somos .titulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    
}

.somos .titulo h3{
    padding-top: 31px;
}

.somos .titulo img{
    width: 5vw;
  
}

.somos img{
    width: 40vw;
}

/*-----------------PRA QUEM------------------*/

.pra-quem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pra-quem h3{
    font-size: 30pt;
    color:#0A3A3C;
}

.pra-quem p{
    text-align: center;
    font-weight: 400;
    width: 950px;
    font-size: 18pt;
    color: #C9892F;
    padding-top: -25    px;
}

.pra-quem p span{
    font-weight: 500;
    color:#0A3A3C;
   
}

.pra-quem img{
    width: 130px;
    padding-top: 50px;
}

/*-----------------VOCÊ MERECE------------------*/

.voce-merece{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    width: 100%;
    background-color: #0A3A3C;
    padding-bottom: 50px;
}

.voce-merece .img-medalha{
    margin-top: -42px;
    width: 8vw;
}

.voce-merece h3{
    padding-top: 20px;
    font-size: 30pt;
    font-weight: 500;
    color: #C9892F;
}

.voce-merece .tabelas{
    display: flex;
    justify-content: space-evenly;

}

.voce-merece .tabelas .tabela1 .icon1,
.tabela2 .icon1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.voce-merece .tabelas .tabela1 .icon1 img,
.voce-merece .tabelas .tabela2 .icon1 img{
    width: 3vw;
    padding: 8px;
}

.voce-merece .tabela1{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top:80px;
    justify-items: start;    
    grid-template-columns: 1fr 8fr;
    row-gap: 80px;

}

.voce-merece .tabela1 p{
    color: #ffffff;
    border-width:2px;
    border-color: #C9892F;
    border-style:solid;
    padding: 10px;
    border-radius: 8px;
}

.voce-merece .tabela1 img{
    width: 7vw;
}

.voce-merece .tabela2{
    width: 30%;
    margin-top:80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 8fr;
    row-gap: 80px;
    column-gap: 25px;

}

.voce-merece .tabela2 p{
    color: #ffffff;
    border-width:2px;
    border-color: #C9892F;
    border-style:solid;
    padding: 10px;
    border-radius: 8px; 
}

.voce-merece .tabela2 img{
    width: 6vw;
}

.voce-merece .tabelas p span{
    text-decoration: underline #C9892F;
}

/*-----------------MAIS DE------------------*/

.mais{
    width: 100%;
    background-image: url("../img/fundo-multidao.png");
    background-repeat: no-repeat;
    background-position: center center;

    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
}

.mais h3{
    font-size: 45pt;
    color: #0A3A3C;

}

.mais p{
    margin-top: -20px;
    font-size: 30pt;
    color: #0A3A3C;
}

/*-----------------GRANDE HISTORIA------------------*/


.grande-historia{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:#c9892f;

}

.grande-historia .texto{
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
}

.grande-historia .texto h3{

    text-align: center;
    
    font-size: 28pt;
    text-align: left;
    color: #ffffff;
    line-height: 40px;
}

.grande-historia .texto p{
    text-align: center;
    font-size: 15pt;
    text-align: left;
    color: #ffffff;
    line-height: 22px;
    margin-top: 15px;
    
}

.grande-historia img{
    width: 900px;
    
}





/*-----------------MAIOR MARGEM------------------*/

.maior-margem{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e8e8;
    padding: 40px 40px 60px 40px;
    border-radius: 40px;
}

.maior-margem h3{
    font-size: 45pt;
    color: #0A3A3C;
}

.maior-margem .ate150 {
    display: flex;
    align-items: baseline;
    gap: 10px;

}

.maior-margem .ate150 p{
    font-size: 90pt;
    font-weight: 800;
    color: #C9892F;
}

.maior-margem .ate150 span{
    font-size: 20pt;
    font-weight: 500;
    color: #0A3A3C;
}

.maior-margem .p2{
    text-align: center;
    color: #0A3A3C;
    font-size: 17pt;
    font-weight: 600;
    width: 70vw;
}

.maior-margem .p2 span{
    color: #C9892F;
}

.btn-quero-receber{
    width: 30vw;
    height: 6vh;
    font-size: 15pt;
    margin: 50px 0 50px 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    background-color: #049b04;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-quero-receber:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-----------------MERCADO NA MIDIA------------------*/

.mercado-midia {
    width: 100vw;
    background-color: #0A3A3C;
    margin-top: 50px;
    text-align: center;
    color: #C9892F;
    font-size: 45pt;
    font-weight: 700;
}

.mercado-midia h3{
    font-size: 35pt;
    padding: 20px;
}

/*-----------------TRABALHE COM------------------*/

.trabalhe{
    width: 60vw;
}

.trabalhe h3{
    color: #0A3A3C;
    padding: 60px 0 60px 0;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    
}

.trabalhe .marcas{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
}

.trabalhe .marcas img{
    width: 15vw;
}

/*-----------------PREMIADA------------------*/

.premiada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;    
    background-image: url("../img/fundo-premio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 90px ;    
    padding-bottom: 50px;
}

.premiada .icon{
    padding: 50px 0 0 0;
    width: 4vw;

}

.premiada h3{
    padding: 0 0 50px 0;
    color: #0A3A3C;
    font-size: 40pt;
}

.premiada .conteudo{
    display: flex;
    width: 77%;
    padding: 0 40px 50px 40px;    
    align-items: center;
    justify-content: space-between;
}

.premiada .conteudo .text{
    color: #0A3A3C;
    text-align: left;
    font-size: 20pt;
    font-weight: 500;
    line-height: 45px;
    width: 40vw;
    background-color: #ffffff80;
    border-radius: 20px;
    padding: 15px;
    
    
}

.premiada .conteudo img{
    width: 30vw;
}

.premiada .conteudo .text span{
    color:#ffffff;
    padding: 0 8px 0 8px;
    background-color: #C9892F;
}

/*-----------------SER FRANQUEADO------------------*/

.ser-franqueado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    background-color: #0A3A3C;
    width: 100%;
    height: 100%;

}

.ser-franqueado h3{    
    font-size: 30pt;
    font-weight: 500;
    padding-top: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 65px;
}

.ser-franqueado .squares{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}

.ser-franqueado .squares .line1{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr  ;    
    justify-content: start;    
    width: 100%;    
    column-gap: 30px;
}

.ser-franqueado .squares .line1 .square1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;    
    width: 16vw;
    height: 8vh;
    border-radius: 3px;
    margin-bottom: 50px;  
    margin-top: -10px;

}

.ser-franqueado .squares .line1 .rolagem1{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.ser-franqueado .squares .line1 .rolagem1 .circle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#C9892F;
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    
    color: #ffffff;
    font-size: 18pt;
    text-align: center;
    box-shadow: 1px 5px 5px #041718 ;

}

.ser-franqueado .squares .line1 .rolagem1 .traco1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
    width: 5px;
    height: 10vh;
}



.ser-franqueado .squares .line1 p{
    text-align: center;
    color:#0A3A3C;
    font-size: 17pt;
    font-weight: 400;
}

.betoneira-icon{
    width: 150px;
    align-self: center;
    justify-self: center;
}

.furadeira-icon{
    width: 150px;
    align-self: center;
    justify-self: center;
}

.martelete-icon{
    width: 130px;
    align-self: center;
    justify-self: center;
}

.esmerilhadeira-icon{
    width: 190px;
    align-self:flex-start;
    justify-self:center;
}

.prumo-icon{
    width: 150px;
    align-self:flex-start;
    justify-self:center;
}

.ser-franqueado .squares .line2{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;  
    justify-content: start;
    width: 100%;
    column-gap: 30px;
    
}

.phantom-square{
    width: 16vw;
    height: 8vh;
}

.ser-franqueado .squares .line2 .square2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;    
    width: 16vw;
    height: 8vh;
    border-radius: 3px;
    margin-bottom: 50px;  
    grid-column-start: 3;
    grid-column-end: 4;
}

.ser-franqueado .squares .line2 .rolagem2{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}

    

.traco22{
    width: 5px;
    height: 1.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
}

.ser-franqueado .squares .line2 .rolagem2 .circle2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#C9892F;
    width: 60px;
    height: 60px; 
    border-radius: 50%;    
    color: #ffffff;
    font-size: 14pt;
    text-align: center;
    box-shadow: 1px 5px 5px #041718 ;
}

.ser-franqueado .squares .line2 .rolagem2 .traco2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
    width: 5px;
    height: 10vh;
}

.ser-franqueado .squares .line2 p{
    text-align: center;
    color:#0A3A3C;
    font-size: 17pt;
    font-weight: 400;
}

.inauguracao{
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: center;   
    background-color:#C9892F;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 4px;
    width: 60%;
}
.inauguracao p{
    text-align: center;
    color:#ffffff;
    font-size: 25pt;
    font-weight: 500;
    line-height: 35px;
    
}

.seja{
    padding: 70px;
}

.seja p{
    font-size: 20pt;
    font-weight: 500;
    color: #0A3A3C;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer img{
    width: 10vw;

}