@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    
    
}

.link-wpp{
    position: fixed;
    bottom: 525px;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;   
}

.btn-wpp{
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;    
       
}

.btn-wpp:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

body{
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*-----------------HEADER------------------*/

header{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 2rem 0;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
}

header nav a{
    color: #0A3A3C;
    font-size: 14pt;
    transition: all 0.5s;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

header nav a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:white;
    background-color: #C9892F;
    border-radius: 5px;
}

.btn-header{
    width: min(20vw, 250px);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: max(0.5vw, 8pt);
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: #C9892F;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-header:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

header img{
    width: 20%;
}

/*-----------------EXPERIÊNCIA------------------*/

.experiencia{
    width: 100%;
    margin: auto;
    background-color: rgb(216, 216, 216);
    color: rgba(10, 58, 60, 1);
    display: flex;   
    justify-content: center; 
    padding: 20px;
    margin: 30px 0 30px 0;
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
}

.experiencia img{
    
    width: 50px;
}

/*-----------------BANNER------------------*/

.banner{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-image: url("../img/fundo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.banner h1{
    padding-top: 30px;
    font-size: min(3.5vw, 45pt);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(201, 137, 47, 1);

}

.banner .subh1{
    margin-top: -10px;
    font-size: min(2vw, 30pt);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(201, 137, 47, 1);
}

.banner h2{
    color: white;
    font-size: min(4.8vw, 50pt);
    font-weight: 400;
}

.banner .subh2{
    margin-top: -20px;
    color: white;
    font-size: min(4.8vw, 50pt);
    font-weight: 400;
}

h2 span{
    text-decoration: underline orange;
}

.subh2 span{
    width: 650px;
    text-align: left;
    background-image: url("../img/rolo.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .video{
    
    margin: 20px 0 80px 0;
    box-shadow: 0px 0px 35px rgba(201, 137, 47, 1);
    
}


/*-----------------TEMOS------------------*/

.temos{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 170px;
}

.img-temos{
    width: 90px;
}

.temos h3{
    margin-top: 20px;
    font-size: min(2.7vw,30pt);
    text-align: center;

    color: #0A3A3C;
    border-radius: 8px;
    padding: 2px 10px 2px 10px;
}

.temos p{
    margin-top: 10px;
    font-size: min(1.6vw,20pt);
    font-weight: 400;
    width: 60vw;
    text-align: center;
    
    color: #0A3A3C;
    border-radius: 8px;
    padding: 2px 10px 2px 10px;
}

.porcas{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.porcas img{
    width: 20%;
    
}

/*-----------------QUE TAL------------------*/

.que-tal{
    width: 100%;    
    background-color: #C9892F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    

}

.que-tal .text{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;

}

.que-tal .text .p1{
    color: #ffffff;
    font-size: 2vw;
    font-weight: 500;
   
}

.que-tal .text .p2{
    margin-top: -12px;
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: 500;
}

.que-tal .text .p3{
    margin-top: -10px;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: 200;
}

.que-tal .text .p4{
    width: 30vw;
    margin-top: 25px;
    color: #ffffff;
    font-size: min(1.4vw, 14pt);
    font-weight: 200;
}


.que-tal img{
    width: 50%;
    margin-top: -80px;
    
}

.que-tal .text button{
    width: 22vw;
    margin: 30px 0 20px 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 15pt;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: #0A3A3C;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.que-tal .text button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.que-tal .text button a{
    font-size: 1.2vw;
}

/*-----------------SOMOS------------------*/

.somos{
    padding: 50px 0 50px 0;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    background-image: url("/img/expansao.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}

.somos h3{
    margin-left: 20px;
    font-size: min(5vw, 35pt) ;
    color:#0A3A3C;

}

.somos p{
    text-align: center;
    font-weight: 400;
    width: 50%;
    font-size: min(3.5vw, 15pt);
    color: #C9892F;
    padding-top: -20px;
}

.somos .titulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    
}

.somos .titulo h3{
    padding-top: 31px;
}

.somos .titulo img{
    max-width: 130px;
  
}

.somos img{
    width: 40%;
}

/*-----------------PRA QUEM------------------*/

.pra-quem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pra-quem h3{
    font-size: min(3vw, 35pt);
    color:#0A3A3C;
    text-align: center;
}

.pra-quem p{
    text-align: center;
    font-weight: 400;
    width: max(50vw, 20pt);
    font-size: min(1.4vw, 25pt);
    color: #C9892F;
    padding-top: -25px;
}

.pra-quem p span{
    font-weight: 500;
    color:#0A3A3C;
   
}

.pra-quem img{
    max-width: 8vw;
    padding-top: 50px;
}

/*-----------------VOCÊ MERECE------------------*/

.voce-merece{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    width: 100%;
    background-color: #0A3A3C;
    padding-bottom: 50px;
}

.voce-merece .img-medalha{
    margin-top: -42px;
    width: max(8vw, 100px);
}

.voce-merece h3{
    padding-top: 20px;
    font-size: min(2.5vw, 35pt);
    font-weight: 500;
    color: #C9892F;
}

.voce-merece .tabelas{
    display: flex;
    justify-content: space-evenly;

}

.voce-merece .tabelas .tabela1 .icon1,
.tabela2 .icon1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.voce-merece .tabelas .tabela1 .icon1 img,
.voce-merece .tabelas .tabela2 .icon1 img{
    width: 3vw;
    padding: 8px;
}

.voce-merece .tabela1{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top:80px;
    justify-items: start;    
    grid-template-columns: 1fr 8fr;
    row-gap: 80px;

}

.voce-merece .tabela1 p{
    color: #ffffff;
    border-width:2px;
    border-color: #C9892F;
    border-style:solid;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.8vw;
}

.voce-merece .tabela1 img{
    width: 7vw;
}

.voce-merece .tabela2{
    width: 30%;
    margin-top:80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 8fr;
    row-gap: 80px;
    column-gap: 25px;

}

.voce-merece .tabela2 p{
    color: #ffffff;
    border-width:2px;
    border-color: #C9892F;
    border-style:solid;
    padding: 10px;
    border-radius: 8px; 
    font-size: 0.8vw;
}

.voce-merece .tabela2 img{
    width: 6vw;
}

.voce-merece .tabelas p span{
    text-decoration: underline #C9892F;
}

/*-----------------MAIS DE------------------*/

.mais{
    width: 100%;
    background-image: url("../img/fundo-multidao.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
}

.mais h3{
    font-size: 3.5vw;
    color: #0A3A3C;

}

.mais p{
    margin-top: -20px;
    font-size: 2.8vw;
    color: #0A3A3C;
}

/*-----------------GRANDE HISTORIA------------------*/


.grande-historia{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 35px;
    width: 100%;
    background-color:#c9892f;

}

.grande-historia .texto{
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grande-historia .texto h3{

    text-align: center;
    
    font-size: 2.2vw;
    text-align: left;
    color: #ffffff;
    line-height: 40px;
}

.grande-historia .texto p{
    text-align: center;
    font-size: 1.1vw;
    text-align: left;
    color: #ffffff;
    line-height: 22px;
    margin-top: 15px;
    
}

.grande-historia img{
    width: 50%;
    
}





/*-----------------MAIOR MARGEM------------------*/

.maior-margem{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e8e8;
    padding: 40px 40px 60px 40px;
    border-radius: 40px;
}

.maior-margem h3{
    font-size: min(4vw, 30pt);
    color: #0A3A3C;
}

.maior-margem .ate150 {
    display: flex;
    align-items: baseline;
    gap: 10px;
    

}

.maior-margem .ate150 p{
    font-size: min(8vw, 90pt);
    font-weight: 800;
    color: #C9892F;
}

.maior-margem .ate150 span{
    font-size: min(3vw, 20pt);
    font-weight: 500;
    color: #0A3A3C;
}

.maior-margem .p2{
    text-align: center;
    color: #0A3A3C;
    font-size: min(3vw, 17pt);
    font-weight: 600;
    width: 80%;
}

.maior-margem .p2 span{
    color: #C9892F;
}

.btn-quero-receber{
    width: 30vw;
    height: 6vh;
    font-size: 15pt;
    margin: 50px 0 50px 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    background-color: #049b04;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-quero-receber:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-----------------MERCADO NA MIDIA------------------*/

.mercado-midia {
    width: 100vw;
    background-color: #0A3A3C;
    margin-top: 50px;
    text-align: center;
    color: #C9892F;
    font-size: 45pt;
    font-weight: 700;
}

.mercado-midia h3{
    font-size: min(5vw, 35pt);
    padding: 20px;
}

/*-----------------TRABALHE COM------------------*/

.trabalhe{
    width: 60%;
}

.trabalhe h3{
    color: #0A3A3C;
    padding: 60px 0 60px 0;
    font-size: min(5vw, 35pt);
    font-weight: 700;
    text-align: center;
    
}

.trabalhe .marcas{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
}

.trabalhe .marcas img{
    width: 15vw;
}

/*-----------------PREMIADA------------------*/

.premiada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;    
    background-image: url("../img/fundo-premio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;    
    margin-top: 90px ;    
    padding-bottom: 50px;
}

.premiada-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.premiada .icon{
    padding: 50px 0 0 0;
    width: 6%;

}

.premiada h3{
    padding: 0 0 50px 0;
    color: #0A3A3C;
    font-size: 40pt;
}

.premiada .conteudo{
    display: flex;
    width: 75%;
    padding: 0 40px 50px 40px;    
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.premiada .conteudo .text{
    color: #0A3A3C;
    text-align: left;
    font-size: min(3vw, 14pt);
    font-weight: 500;
    line-height: 30px;
    max-width: 700px;
    background-color: #ffffff80;
    border-radius: 20px;
    padding: 15px;
    
    
}

.premiada .conteudo img{
    width: 40%;
}

.premiada .conteudo .text span{
    color:#ffffff;
    padding: 0 8px 0 8px;
    background-color: #C9892F;
}

/*-----------------SER FRANQUEADO------------------*/

.ser-franqueado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    background-color: #0A3A3C;
    width: 100%;
    height: 100%;

}

.ser-franqueado h3{    
    font-size: 30pt;
    font-weight: 500;
    padding-top: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 65px;
}

.ser-franqueado .squares{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}

.ser-franqueado .squares .line1{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr  ;    
    justify-content: start;    
    width: 100%;    
    column-gap: 30px;
}

.ser-franqueado .squares .line1 .square1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;    
    width: 16vw;
    height: 8vh;
    border-radius: 3px;
    margin-bottom: 50px;  
    margin-top: -10px;

}

.ser-franqueado .squares .line1 .rolagem1{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.ser-franqueado .squares .line1 .rolagem1 .circle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#C9892F;
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    
    color: #ffffff;
    font-size: 18pt;
    text-align: center;
    box-shadow: 1px 5px 5px #041718 ;

}

.ser-franqueado .squares .line1 .rolagem1 .traco1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
    width: 5px;
    height: 10vh;
}



.ser-franqueado .squares .line1 p{
    text-align: center;
    color:#0A3A3C;
    font-size: 1.3vw;
    font-weight: 400;
    padding: 10px;
    line-height: 25px;
}

.betoneira-icon{
    width: 150px;
    align-self: center;
    justify-self: center;
}

.furadeira-icon{
    width: 150px;
    align-self: center;
    justify-self: center;
}

.martelete-icon{
    width: 130px;
    align-self: center;
    justify-self: center;
}

.esmerilhadeira-icon{
    width: 190px;
    align-self:flex-start;
    justify-self:center;
}

.prumo-icon{
    width: 150px;
    align-self:flex-start;
    justify-self:center;
}

.ser-franqueado .squares .line2{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;  
    justify-content: start;
    width: 100%;
    column-gap: 30px;
    
}

.phantom-square{
    width: 16vw;
    height: 8vh;
}

.ser-franqueado .squares .line2 .square2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;    
    width: 16vw;
    height: 8vh;
    border-radius: 3px;
    margin-bottom: 50px;  
    grid-column-start: 3;
    grid-column-end: 4;
}

.ser-franqueado .squares .line2 .rolagem2{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}

    

.traco22{
    width: 5px;
    height: 1.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
}

.ser-franqueado .squares .line2 .rolagem2 .circle2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#C9892F;
    width: 60px;
    height: 60px; 
    border-radius: 50%;    
    color: #ffffff;
    font-size: 14pt;
    text-align: center;
    box-shadow: 1px 5px 5px #041718 ;
}

.ser-franqueado .squares .line2 .rolagem2 .traco2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9892F;
    width: 5px;
    height: 10vh;
}

.ser-franqueado .squares .line2 p{
    text-align: center;
    color:#0A3A3C;
    font-size: 1.3vw;
    font-weight: 400;
    padding: 10px;
}

.inauguracao{
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: center;   
    background-color:#C9892F;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 4px;
    width: 60%;
}
.inauguracao p{
    text-align: center;
    color:#ffffff;
    font-size: 25pt;
    font-weight: 500;
    line-height: 35px;
    
}

.seja{
    padding: 70px;
}

.seja p{
    font-size: 20pt;
    font-weight: 500;
    color: #0A3A3C;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer img{
    width: 10vw;

}

/*MOBILE*/

@media (max-width: 450px){

    main{
        padding-bottom: 0;
     }

    /*-----------MHEADER-----------*/
    header{
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto;        
    }

    header nav{
        align-self: center;
        margin: 0 auto;
        margin-bottom: 0.6em;
    }

    header img{
        align-self: center;
        margin: 0 auto;
        margin-bottom: 0.6em;
        width: 45%;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header .btn-header{
        margin: 0 auto;
        width: 55%;
        margin-bottom: 0.6em;
    }

    /*-----------------MEXPERIÊNCIA------------------*/

    .experiencia{
        display: grid;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: min(2em, 15pt);
        text-align: center;
    }

    .experiencia img{
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0 auto;
        width: 40px;
    }

    /*-----------------MBANNER------------------*/

    .banner{
        width: 100%;        
    }

    .banner h1{
        font-size: 15pt;
        text-align: center;
        line-height: 25px;
        padding: 10px;
        padding-top: 29px
    }

    .banner .subh1{
        font-size: 12pt;
        text-align: center;
        width: 350px;
        margin-top: 3px;
        line-height: 17px;
    }

    .banner h2{
        margin-top: -25px;
        margin-bottom: 20px;
    }

    .banner .subh2 span{
        background-size: cover;

    }

    .banner .video{
        width: 60%;
        height: 100%;
        margin: 25px;
    }

    /*-----------------MTEMOS------------------*/

    .temos{
        margin-bottom: 20px;
        width: 100vw;
        padding-top: 35px;
    }
    

    .temos .img-temos{
        width: 80px;
        
    }

    .temos h3{
        font-size: 14pt;
        padding: 0em 3em;
    }

    .temos p{
        font-size: 9pt;
        width: 100%;
        padding: 0em 4em;
    }

    .temos .porcas{
        width: 100vw;
        padding: 2em;
        margin: 0;
        gap: 20px;
    }

    .temos .porcas img{
        width: 100px;
    }

    /*-----------------MQUE-TAL------------------*/

    .que-tal{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .que-tal .text{
        padding-top: 20px;
        padding-left: 0;
        align-items: center;

    }

    .que-tal .text .p1{
        padding: 0;
        margin: 0;
        font-size: 16pt;
        text-align: center;
    }
    .que-tal .text .p2{
        padding: 0;
        margin: 0;
        font-size: 20pt;
        text-align: center;
        margin-top: -10px;
    }

    .que-tal .text .p3{
        padding: 0;
        margin: 0;
        font-size: 12pt;
        text-align: center;
        margin-top: -10px;
    }

    .que-tal .text .p4{
        width: 80%;
        padding: 0;
        margin: 0;
        font-size: 12pt;
        text-align: center;
        margin-top: 30px;
    }

    #btn-que-tal{
        padding: 0;
        margin: 0;
        width: 65%;
        margin-top: 30px;
        margin-bottom: 0px;        
    }

    #btn-que-tal a{
        padding: 0;
        margin: 0;
        font-size: 12pt;
        align-self: center;
        justify-self: center;

    }

    .que-tal img{
        margin: 0;
        padding: 0;
    }

    /*-----------------MSOMOS------------------*/

    .somos{
        width: 100vw;
        background-size:cover;
        padding-bottom: 0;
    
    }

    .somos .titulo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .somos .titulo img{
        width: 30%;

    }

    .somos .titulo h3{
        padding: 0;
        margin: 0;
        font-size: 18pt;
    }

    .somos p{
        width: 75%;

    }

    .somos img{
        width: 69%;
    }

    /*-----------------MPRA-QUEM------------------*/

    .pra-quem{
        width: 100%;
        margin-top: 25px;
    }

    #pra-quem-img{
        padding-top: 20px;
        max-width: 80px;
        
    }

    .pra-quem h3{
        font-size: 15pt;
    }
    
    .pra-quem p{
        font-size: 10pt;
        width: 80%;
    }

    /*-----------------MVOCE-MERECE------------------*/

    .voce-merece{
        width: 100%;
    }

    .voce-merece h3{
        width: 80%;
        font-size: 18pt;
        text-align: center;
    }

    .voce-merece .tabelas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .voce-merece .tabelas .tabela1{
        width: 80%;
        flex-direction: column;
        column-gap: 25px;
        margin-top: 25px;
        
    }

    .voce-merece .tabelas .tabela1 img{
        width: 90px;
    }

    .voce-merece .tabelas .tabela1 p{
        font-size: 10pt;
        
    }

    .voce-merece .tabelas .tabela2{
        width: 80%;
        flex-direction: column;
        
    }

    .voce-merece .tabelas .tabela2 img{
        width: 90px;
    }

    .voce-merece .tabelas .tabela2 p{
        font-size: 10pt;
        
    }

    /*-----------------MMAIS------------------*/

    .mais{
        width: 100vw;
        height: 30vw;
        padding: 0;
    }

    .mais h3{
        margin: 0;
        padding: 0;
        font-size: 15pt;

    }

    .mais p{
        padding:14px;
        font-size: 10pt;
    }

    /*-----------------MGRANDE-HISTORIA------------------*/

    .grande-historia{
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 20px
    }

    .grande-historia .texto{
        padding: 0;
        margin: 0;
        padding-left: 25px;

    }

    .grande-historia img{
        width: 50%;
        width: 60%;
    }

    .grande-historia .texto h3{
        line-height: 15px;
    }

    .grande-historia .texto p{
        line-height: 10px;
    }

    /*-----------------MMAIOR-MARGEM------------------*/

    .maior-margem{
        margin: 0;
        padding: 0;

        margin: 20px;
        margin-top:35px;
        padding: 20px;
    }

    .maior-margem h3{
        text-align: center;
        font-size: 19pt;
        line-height: 25px;
    }

    .maior-margem .ate150{
        margin-top: 10px;
    }

    .maior-margem .ate150 p{
        font-size: 30pt;
    }

    .maior-margem .p2{
        width: 100%;
    }

    .btn-quero-receber{
        padding: 0;
        margin: 0;

        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .btn-quero-receber a{
        font-size: 10pt;

    }

     /*-----------------MMERCADO-NA-MIDIA------------------*/

     .mercado-midia{
        width: 100%;
     }

     .mercado-midia h3{
        font-size: 18pt;
     }

     /*-----------------MTRABALHE------------------*/

     .trabalhe{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .trabalhe h3{
        width: 80%;
        margin: 0 auto;
        padding: 30px 0 25px 0;
     }

     .trabalhe .marcas{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 16px
     }

     .trabalhe .marcas img{
        width: 130px;
     }

     /*-----------------MPREMIADA------------------*/

     .premiada{
        width: 100%;
        padding-bottom: 20px;

     }

     .premiada-box{
        align-items: center;
        justify-content: center;
     }

     .premiada-box .icon{
        width: 50px;
     }

     .premiada-box h3{
        text-align: center;
        font-size: 28pt;
     }

     .premiada-box .conteudo{
        flex-direction: column;
        width: 85%;
        padding: 0;
        gap:15px;
     }

     .premiada-box .conteudo .text{
        text-align: center;
        font-size: 11pt;
        line-height: 21px;
     }

     .premiada-box .conteudo img{
        width: 80%;
     }

     /*-----------------MSER-FRANQUEADO------------------*/

     .ser-franqueado h3{
        font-size: 25pt;
     }

     .ser-franqueado .squares .line1 .square1{
        width: 90%;
        margin-left: 25px;
     }

     .ser-franqueado .squares .line1 .square1 p{
        font-size: 85%;
     }

     .ser-franqueado .squares .line1 .rolagem1 .circle1{
        width: 60px;
        height: 60px;
        font-size: 13pt;
     }

     .ser-franqueado .squares .line1 img{
        width: 100px;
     }

     .ser-franqueado .squares .line2 .square2{
        width: 90%;
        margin-right: 25px;
     }

     .ser-franqueado .squares .line2 .square2 p{
        font-size: 85%;
     }

     .ser-franqueado .squares .line2 img{
        width: 120px;
     }

     #planejamento{
        line-height: 18px;

     }

     .inauguracao{
        padding: 0;
        margin: 0 auto;

        margin-bottom: 30px;
     }

     .inauguracao p{
        font-size: 17pt;
        line-height: 30px;
        padding: 10px;
     }

     .ser-franqueado .btn-quero-receber{
        margin-bottom: 20px;
     }

     /*-----------------MSEJA------------------*/

     .seja{
        padding: 0;
        margin: 20px;
     }

     .seja p{
        text-align: center;
        font-size: 13pt;
     }

     footer img{
        width: 50%;
     }

     footer p{
        font-size: 10pt;
        text-align: center;
     }

     
}